{% if alert_msg %}
<div class="alert alert-info">
    {{ alert_msg }}
</div>
{% endif %}

<form method="post" action="{% url 'common:additional_info' %}">
    {% csrf_token %}
    <input type="hidden" name="user_id" value="{{ user_id }}">

    <label for="name">이름 : </label>
    <input type="text" name="name" required placeholder="이름을 입력해주세요">

    <label for="email">이메일 : </label>
    <input type="email" name="email" required placeholder="이메일을 입력해주세요">
    
    <label for="gender">성별 : </label>
    <select name="gender" required>
        <option value="" disabled selected>선택해주세요</option>
        <option value="Male">남성</option>
        <option value="Female">여성</option>
    </select>

    <label for="nationality">국적 : </label>
    <select name="nationality" required>
        <option value="" disabled selected>선택해주세요</option>
        <option value="Korea">한국</option>
        <option value="Japan">일본</option>
    </select>

    <input type="submit" value="제출">
</form>