{% extends 'base.html' %}

{% block content %}

<style>
    .check_box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20%;
        height: 34%;
        box-shadow: 2px 2px 12px 2px black;
        text-align: center;
      }

    .re_password{
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

    }
    </style>
    
    <div class="check_box">
        <div class="re_password">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="POST" action="{% url 'common:re_password' %}">
          {% csrf_token %}
          현재 비밀번호 : 
          <input name="origin_password" type="password">
          <br><br>
          변경할 비밀번호 :
          <input name="new_password" type="password">
          <br><br>
          비밀번호 확인 : 
          <input name="confirm_password" type="password">
          <br><br>
          <input class="btn btn-primary" type="submit" value="변경"> 
        </form>
        <br><br>
        <a href="{% url 'main:main' %}">돌아가기</a>
        </div>
    </div>

{% endblock %}