{% load static %}

<!DOCTYPE html>
<html lang="ko">

  <head>
    <title>PingShop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Optional Bootstrap JS, Popper.js, and jQuery for Bootstrap components -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
      .login_box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 36%;
        height: 66%;
        box-shadow: 2px 2px 12px 2px black;
      }

      .btn {
        border-radius: 1em;
        font-size: 18px;
        width: 400px;
        height: 40px;
      }

      .btn-kakao {
        background-color: #FFEB00;      /* 노란색 배경 */
        color: #000;                    /* 글자 색상 검정 */
        font-weight: bold;                /* 글자 두껍게 */
        border: none;                     /* 버튼 테두리 제거 */
        text-decoration: none;            /* 링크 밑줄 제거 */
      }
    </style>

    <body>
      <div class="login_box">
        <h2 class="start_pingshop mt-3" align="center">
          <a href="" style="color: rgb(190, 41, 240)">
            PingShop</a>
        </h2><br>

        <div class="container my-3">
          <form method="post" id="login-form" class="post-form" action="{% url 'api:user_login' %}">
            {% csrf_token %}
            {% include "basic/form_errors.html" %}
            <div>
              <h3>로그인 하세요</h3>
              <p>PingShop 로그인</p>
            </div>

            <div class="form-group">
              <label for="userid">아이디</label>
              <input type="text" class="form-control" name="userid" id="userid" value="{{ form.userid.value|default_if_none:'' }}">  <!-- value 는 개별 form 필드를 가져와서 커스터마이징 함 -->
              <span style="color: blue;" class="logout_message_required">
                <a href="#">아이디를 잊으셨나요?</a>
              </span>
            </div>

            <div class="form-group">
              <label for="password">비밀번호</label>
              <input type="password" class="form-control" name="password" id="password" value="{{ form.password.value|default_if_none:'' }}">
              <span style="color: blue;">
                <a href="#">비밀번호를 잊으셨나요?</a>
              </span>
            </div><br>

            <div class="form-group" align="center">
              <button type="submit" class="btn btn-primary mb-2">로그인</button>
            </div></br>
          </form>   <!-- 로그인 폼 -->

          <div class="mt-1" align="center">
            PingShop
            <a href="{% url 'common:register' %}">회원가입</a>
          </div>

          <div class="form-group" align="center">
            <button type="button" class="btn btn-kakao mb-2">
              <a href="{% url 'api:kakao_login_request' %}">카카오로 로그인</a>
            </button>
          </div>

        </div>
      </div>
    </body>

</html>

<script>
  document.getElementById('login-form').addEventListener('submit', function(e) {
    e.preventDefault();

    var url = this.action;
    var data = {
      userid: document.getElementById('userid').value,        // 아이디 입력
      password: document.getElementById('password').value     // 비밀번호 입력
    };

    fetch(url, {            // url로 fetch실행
      method: 'POST',
      headers: {
        'Content-Type': 'application/json; charset=utf-8',
        "X-CSRFToken": getCookie('csrftoken')
      },
      body: JSON.stringify(data)
    })
    .then(response => {
      if (!response.ok) {
        throw new Error('로그인에 실패하였습니다. 아이디 또는 비밀번호를 확인해주세요.');
      }
      return response.json();
    })
    .then(data => {
      // window.localStorage.setItem('auth-token', data.access_token);   // 로컬 스토리지에 토큰 저장
      document.cookie = "auth-token=" + data.access_token;
      alert('로그인에 성공하였습니다.');
      window.location.href = "/pingshop/main";
    })
    .catch(error => {
      alert(error.message);
      window.location.href = "/common/login";
    });
  });

  function getCookie(name) {
    let cookieValue = null;                                       // 쿠키 저장 변수
    if (document.cookie && document.cookie !== '') {              // 쿠기가 존재, 비어있지 않은 경우
      const cookies = document.cookie.split(';');                 // ; 를 기준으로 쿠키를 구분지어 확인
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();                         // 쿠키 양 끝 공백 제거
        if (cookie.substring(0, name.length + 1) === (name + '=')) {              // 현재 순회 중인 쿠키의 이름이 우리가 찾고자 하는 이름과 일치하는지 확인
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));    // 일치하는 경우, 쿠키값 저장
          break;
        }
      }
    }
    return cookieValue;
  }
</script>