{% extends 'base.html' %}
{% block content %}
    <div>
        <h2>
            <i class="fa-sharp fa-solid fa-camera mt-3 ml-3"></i>
            Real-time Shooting
        </h2>
        <hr>
        <a href="?mode=snapshot">
            <i class="fa-solid fa-image ml-3"></i>
            Snapshot
        </a> 
        <a href="?mode=stream">
            <i class="fa-solid fa-video ml-2"></i>
            Stream
        </a>
    </div>
    <br>

    {% if mode == "#" %}
        <img id = "image"/>
    {% elif mode == "snapshot" %}
        <img id = "image" src = "{% url 'mjpeg:snapshot' %}" class="ml-3"/>
    {% elif mode == "stream" %}
        <img id = "image" src = "{% url 'mjpeg:stream' %}" class="ml-3"/>
    {% endif %}
{% endblock %}